server:
  port: 8081

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/user_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: Lyy135792468
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 15
      minimum-idle: 5
      connection-test-query: SELECT 1

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: validate

  cloud:
    nacos:
      discovery:
        server-addr: ${SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR:localhost:8848}
        namespace: dev
        group: COURSEHUB_GROUP
        ephemeral: true
        heartbeat-interval: 5000
        heartbeat-timeout: 15000
        enabled: false      # 本地测试用

management:
  endpoints:
    web:
      exposure:
        include: health

jwt:
  secret: course-cloud-2025-very-long-secret-key-256bits-aaaaaaaaaa1234567890!@#
  expiration: 86400000