server:
  port: 8090

spring:
  application:
    name: gateway-service
  cloud:
    nacos:
      discovery:
        server-addr: nacos:8848   # 本地 hosts 已映射 127.0.0.1 nacos
        enabled: true    # 本地测试用
    gateway:
      discovery:
        locator:
          enabled: false
      routes:
        - id: user-service
          uri: http://localhost:8081          # 关键：直连本地端口
          predicates:
            - Path=/api/users/**
          filters:
            - StripPrefix=0

        - id: catalog-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/courses/**
          filters:
            - StripPrefix=0

        - id: enrollment-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/enrollments/**
          filters:
            - StripPrefix=0

        - id: user-auth
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=0

      globalcors:
        cors-configurations:
          '[/**]':
            allowedOriginPatterns: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: true

jwt:
  secret: course-cloud-2025-very-long-secret-key-256bits-aaaaaaaaaa1234567890!@#
  expiration: 86400000

logging:
  level:
    org.springframework.cloud.gateway: DEBUG