spring:
  datasource:
    url: jdbc:h2:mem:course;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: 
    password:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update   # dev 自动建表
  h2:
    console:
      enabled: true
      path: /h2