server:
  port: 8083
  address: 0.0.0.0
spring:
  application:
    name: enrollment-service
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  cloud:
    nacos:
      discovery:
        server-addr: ${SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR:localhost:8848}
        namespace: public
        group: DEFAULT_GROUP
        ephemeral: true
        heartbeat-interval: 5000
        heartbeat-timeout: 15000

logging:
  level:
    root: INFO

feign:
  circuitbreaker:
    enabled: true
  client:
    config:
      default:
        connectTimeout: 3000
        readTimeout: 5000

resilience4j:
  circuitbreaker:
    instances:
      user-service:
        failureRateThreshold: 50
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
      catalog-service:
        failureRateThreshold: 50
        slidingWindowSize: 10
        minimumNumberOfCalls: 5