server:
  port: 8083

spring:
  application:
    name: enrollment-service
  datasource:
    url: jdbc:mysql://localhost:3306/enrollment_db?useSSL=false&serverTimezone=UTC
    username: root
    password: Lyy135792468
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  cloud:
    nacos:
      discovery:
        server-addr: ${SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR:localhost:8848}
        namespace: dev
        group: COURSEHUB_GROUP
        ephemeral: true
        heartbeat-interval: 5000
        heartbeat-timeout: 15000
        enabled: true      # 本地测试用

# # 服务地址配置
# user-service:
#   url: http://localhost:8081
# catalog-service:
#   url: http://localhost:8082

logging:
  level:
    root: INFO

feign:
  circuitbreaker:
    enabled: true
  client:
    config:
      default:
        connectTimeout: 3000
        readTimeout: 5000

resilience4j:
  circuitbreaker:
    instances:
      user-service:
        failureRateThreshold: 50
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
      catalog-service:
        failureRateThreshold: 50
        slidingWindowSize: 10
        minimumNumberOfCalls: 5

management:
  endpoints:
    web:
      exposure:
        include: health